[2015-07-30 17:11] aizumoff opened #1 "runner is not working in TeamCity 9.1"
Hi, Carl!
I've incorporated your runner into TC9.1 (just released) and noticed that it's not working (build log for this step is just empty and finishes within 1sec).

It seems to me it worked in TC9.0 (we've migrated to 9.1 just a week ago).

Do you have an idea why it stopped working?

I really love your plugin as it provides convenient setup in TC as opposed to other workaround runners via MSBu

[2015-08-20 13:01] apostlethwaite commented on #1
I'm seeing the same on Team City 9.1.1 (build 37059).

[2015-08-25 00:18] scottlurowist opened #2 "This Just Does Not Work"
I tried TC 8.1.5, then 9.1.1, and then 9.0.

In all cases, the plugin finds my tests, but it simply does not run them.

Here is an excerpt from the TC 9.0 build log:

[20:14:34] : Step 2/2: xUnit
[20:14:34]i:	 [Step 2/2] ##teamcity[buildStatisticValue key='buildStageDuration:buildStepRUNNER_2' value='0.0']
[20:14:34] :	 [Step 2/2] Testing SomeLibraryTests.dll: C:\TeamCity\buildAgent\work\6dc03847e

[2015-08-30 11:08] 9swampy commented on #1
Did anyone work out what's wrong or find an alternative that works? We're postponing updating TeamCity just for this runner... FWIW it works perfect on 9.0.1 (build 32116)

[2015-09-01 20:22] tstewart65 commented on #1
I installed this on TeamCity 9.1 today and also the problem with it not running at first.  I tracked done my issue to the path I was putting in "Assemblies containing tests".  I finally got it to run by using "bin/*_/_.Tests.dll", without the quotes.  This gives me all of the assemblies that end it ".Tests.dll" under the bin folder.

[2015-09-21 06:02] michaelsync opened #3 "Support for filtering the tests by trail or trail extensions"
Hello,

Is there any plan to support on trail filtering or trail extensions filtering?

Normally, we can run the specific set of tests by using "/-trait "Category=database"" option. I like to do the same with this xUnit team city plugin as well.

Thanks!

[2015-09-24 01:20] michaelsync commented on #3
Hello,

Any update on this?

I think it's not so difficult to support the command line arguments in this plugin. Will you accept my pull request if I add that feature?

[2015-09-25 15:14] wwwlicious commented on #1
Not sure if it's what you want but I've created a [meta-runner for dotCover](https://gist.github.com/wwwlicious/f13db34c3ff23a614a98) and xunit that works on my instance of 9.1.2 and supports traits, usual "works on my machine\* caveats apply!

[2015-09-27 15:25] carlpett commented on #1
Very sorry for not replying - for some reason I did not get notifications on issues being created. I'll have a look at 9.1 compatibility during coming week.

[2015-09-27 15:27] carlpett commented on #2
Sorry for not replying! Notifications were not sent for some reason, so I missed the issue being created. This looks like xUnit in itself not finding any tests within the assembly. What xUnit version are you using for your tests?

[2015-09-27 15:30] carlpett commented on #3
Hi,
Very sorry for not replying earlier - for some reason notifications are not working for me, so I didn't see that issues were created. I'd gladly merge a pull request! :) As you say, if it is just adding a command line parameter, it should be simple enough.
I haven't used the traits feature myself, but I can see it being useful. Is the feature available in both xUnit 1.9 and 2.0? The syntax cha

[2015-09-27 15:33] carlpett commented on #1
@tstewart65: Glad you got it working. The path supports the same "ant-style" wildcards as most things in TeamCity, so you can also do something like `**/*.Tests.dll` to get any depth recursion.

[2015-09-27 16:08] carlpett commented on #1
@aizumoff @apostlethwaite and @9swampy: I upgraded my local install to 9.1.3 (build 37176), and at least my first test worked out. What versions of xUnit are you using? Could you supply some log files?

[2015-09-27 17:40] 9swampy commented on #1
@carlpett Just to be clear, we're working perfectly fine in 9.0.1 using xUnit 2 (and appreciate the work you put in thus far), was just looking for confirmations that it will continue to work should we upgrade before doing so following on from @aizumoff comment.

[2015-09-30 09:48] SingleCopy opened #4 "BadImageFormatException when building as x86."
If you specify the target build to x86, the test runner calls the 64bit xunit console which throws a System.BadImageFormatException.

Would it be possible to specify the target platform and if x86 is picked to call xunit.console.x86.exe when setting up the build step?

[2015-09-30 15:44] SeanKilleen commented on #1
### EDIT:

Nevermind, this one is on us -- the build had changed to not build the whole solution. If your test projects aren't built, there probably won't be a DLL for xUnit to find. :)

Original below for posterity.

---

@carlpett Experiencing this in TeamCity 9.1.3:

![image](https://cloud.githubusercontent.com/assets/2148318/10198091/8164f9f0-6768-11e5-8657-a6cfab2d8784.png)

I'm set up to do

[2015-10-01 08:06] apostlethwaite commented on #1
Hi, @carlpett
I'm seeing the same output as @SeanKilleen has posted a screenshot of. The step in the build log has no output and no tests appear to have been logged.

I've set my params to:
Version 1.9.2
Assemblies: %teamcity.build.checkoutDir%\depot1\Test\APITests\bin\x64\Release\APITests.dll

I've verified the APITests.dll exists on the agent after a build.
Tried both x64 and x86 flavours.

We u

[2015-10-01 08:19] carlpett commented on #1
@apostlethwaite Thanks for the info! Could you try running it the test manually in a console? `<agent home dir>\tools\xunit-runner\bin\1.9.2\xunit.console.exe <path to assembly> /teamcity`. Just to make sure that the xunit runner itself can actually find the tests.

[2015-10-01 08:20] carlpett commented on #2
This is probably the same issue as #1, so I'll close this one for now and refer to that issue.

[2015-10-01 08:20] #2 closed

[2015-10-01 08:22] carlpett commented on #4
Hi @SingleCopy: Good idea! I'll add it to the feature requests, should be fairly simple to do.

[2015-10-01 10:23] apostlethwaite commented on #1
@carlpett Yeah that appears to work. When I log on to the agent, I get:

[code]

and so on... so that appears to be okay.

I guess the problem is this:

[code]

Which is the message I get when I try to load an x86 dll.
Perhaps my memory is incorrect, and what actually happened is we tried the x86 flavour of our job, we got no output, and then never enabled that step for x64.

I'll try the x64 one

[2015-10-01 10:38] carlpett commented on #1
Aha, that would explain it. Multi-arch support is tracked in issue #4. I'll have a look if it is easy to determine the arch, but otherwise it'll have to be a dropdown.

Please try the x64 one and see if it works!

[2015-10-01 13:29] apostlethwaite commented on #1
Hi Calle,
Unfortunately it doesn't. I get the same in the build log, no output.
I've run procmon on the agent whilst the job runs, and I can't see any instances of the xunit runner being loaded.

I've got another step in the job, like:

[code]

And that works okay, so I know that the project can run on this agent.

Any further ideas?

[2015-10-02 11:28] mnak commented on #1
The same problem :( In the build log file on the server there is nothing

[2015-10-02 17:59] carlpett commented on #1
@apostlethwaite, @mnak Thanks for your patience. I've created a debug build with additional logging, as well as fixing some logging that was broken in the base builder class (Java is not my language of choice...). Could you try to install this version and see if you get any more information?
1.0.1-debug: https://dl.dropboxusercontent.com/u/43785918/xUnit.zip

[2015-10-06 03:38] linkhacks commented on #1
Hello @carlpett .. I've downloaded the latest zip file and here's the output..

[22:21:21]Step 4/4: Run xUnit Test (xUnit)
[22:21:22][Step 4/4] [XUnit DEBUG] - Constructed build process
[22:21:22][Step 4/4] [XUnit DEBUG] - Build process started
[22:21:22][Step 4/4] Starting test runner at D:\TeamCity\dotNet-BuildAgent4\tools\xunit-runner\bin\2.0.0\xunit.console.exe
[22:21:22][Step 4/4] [XUnit DEBU

[2015-10-06 08:47] apostlethwaite commented on #1
@carlpett Sorry for the delay - had to be at work to try this.

I got:

[code]

in my build log, but no tests appear to be run.

[2015-10-06 13:47] SeanKilleen commented on #1
Jumping back in to see if I can help out.

It does seem that there are no test assemblies found by the xunit runner.

How are you telling the plugin which assemblies to find?  For example, in ours:

![image](https://cloud.githubusercontent.com/assets/2148318/10310297/43793a24-6c0f-11e5-98e7-db0de88360d9.png)

[2015-10-07 12:44] carlpett commented on #1
@apostlethwaite No worries. That looks a bit strange, it should at least have printed the header from the runner. Could you have a look in the windows event log to see if it reports something there? Probably something like .NET Application as source, in case it is a crash.

[2015-10-21 01:29] michaelsync commented on #3
@carlpett Sorry. I didn't get the notification either. This feature supports in both version but a bit different syntax. I will probably do a pull request this weekend. Thanks!

[2015-11-25 08:11] gbrackley opened #5 "Evironment not being passed through to the xUnit process"
Great plugin thank you. When running tests we are not seeing the teamcity environment being passed through to the xUnit process.  This means our tests fail becuase they get configed via environment variables (based on which deployment environment they should be testing against).

I wrote the following test to dump the environment variables when a test runs (on a teamcity build agent).

[code]

My

[2015-11-26 06:08] carlpett commented on #5
Hi,
Thanks for the bug report! The environment _should_ be passed along to the spawned process according to the java `ProcessBuilder` docs, but I'll try to verify this actually works. There might be some hoop-hopping since it is running within TeamCity.

[2015-11-30 21:29] JustinMorgan commented on #5
I've been experiencing this same issue and wondering if I was going crazy. I did a similar dump of the environment during the test run and got the exact same result: plenty of environment variables, but nothing that came from TeamCity. I think it must be an issue with the plugin--or with TeamCity itself--because the xunit console runner shouldn't be able to tell the difference between environment

[2015-12-01 10:00] carlpett commented on #5
Yeah, it's not in the xunit runner. It seems the teamcity agent might not initialize it's own environment as I had expected.
"Life happened" a bit last week, so I've been a bit tied up lately and unable to focus on this. I hope to have some progress soon, though.

[2015-12-01 15:53] evil-shrike commented on #4
+1
please add an ability to run under x86-process. I'm also experiencing BadImageFormatException  as my test assembly was build under x86 (there's a reason for this).

[2015-12-05 19:28] JustinMorgan commented on #5
No sweat, thanks for the update. Other than this, the plugin has been really easy to use so far. I appreciate you putting it out there.

[2015-12-10 22:54] Porges opened #6 "Possible to support dotCover?"
The built-in test runners (NUnit, MSTest, etc) support running with dotCover. Would it be possible to support this in the xUnit runner?

[2015-12-11 08:50] carlpett commented on #6
Hi!
I have an ongoing conversation with JetBrains to make their coverage component reusable by plugins, rather than plugins having to re-implement it themselves. So for the time being, I'm not working on writing this code myself, but rather awaiting some feedback from JetBrains on their schedule for this.

[2015-12-11 08:51] Porges commented on #6
Thanks for the information ☺

[2016-01-17 11:29] carlpett commented on #6
There is a feature ticket on JetBrains tracker, https://youtrack.jetbrains.com/issue/TW-43250, looks like they hope to have it in TC 10.0.

Please consider adding a vote there to make sure they don't cut it for lack of interest :)

[2016-01-20 14:44] spib commented on #1
I'm having the same issue. I can see the xunit runner plugin on the build agent (under tools) and executing that runner manually against my test dll on the agent works fine. Looking in the teamcity log files there's nothing obvious about why it's not running, I just get nothing in the log files for that step. Any ideas?

[2016-01-20 14:50] carlpett commented on #1
Hi, sorry to hear that! Could you tell me a few things about your setup?
- What server OS are you using on the agent?
- What version of TeamCity are you using?
- Are you using the bundled java to run the agent, or some system version? If so, what version?

[2016-01-20 14:59] spib commented on #1
Thanks for the quick reply
- Windows Server 2008 R2 x64
- 9.1.5
- I think it's the bundled version, C:\BuildAgent\jre

[2016-01-25 07:01] carlpett commented on #1
@spib I'm unable to reproduce, unfortunately :( My current best guess is that it has to do with the stdout redirection that doesn't work under some circumstances (likely related to my Java skills...). Could you try to create a "test" that writes a file to disk somewhere? That way we'll know if the test runner actually gets invoked.

[2016-01-27 18:55] kj0001 commented on #4
Also +1. I'm having the same issue.

[2016-01-30 17:53] carlpett commented on #4
I've finally had time to do some work on the plugin, and just uploaded a 1.1-prerelease version which supports setting the platform. @SingleCopy @evil-shrike or @kj0001, if any of you have a possibility to test that would be greatly appreciated!
I will do some more testing on my own production environments the upcoming week before declaring it final - primarily to verify backwards compatibility, a

[2016-02-04 17:01] cdanne commented on #3
Is there any progress on this or plans to include this feature? The plugin is great, but we really miss the option to exclude tests by category. Our integration tests should only run during nightly builds and not during each integration build.

[2016-02-07 13:32] carlpett commented on #3
@cdanne: I'm working on releasing v1.1, which contains an overhaul of the way different xUnit versions are handled. With that out of the way, it should be fairly easy to add traits as well.
I'm aiming to have backwards compatibility testing done during the upcoming week, and after that this will be next in line!

[2016-02-07 21:46] gitfool opened #7 "Cannot create build step in TeamCity 9.1.6"
I'm trying out this plugin ([1.1-prerelease](https://github.com/carlpett/xUnit-TeamCity/releases/tag/1.1-prerelease)) for the first time on TeamCity 9.1.6 with xUnit 2.1.0.

When I add the build step the _Save_ and _Cancel_ buttons are missing, so I can't create it:

![image](https://cloud.githubusercontent.com/assets/750121/12875504/fe0f0cbc-ce50-11e5-8b1b-5f3960714888.png)

^^ missing buttons ^^

[2016-02-07 22:19] gitfool commented on #7
So I tried reinstalling the plugin, to no avail:
- Stop TeamCity Server
- Delete plugin from plugins directory
- Start TeamCity Server
- Confirm plugin removed
- Stop TeamCity Server
- Copy xUnit.zip to plugins directory
- Start TeamCity Server
- Confirm plugin installed

**But** then I managed to get the _Save_ and _Cancel_ buttons to appear by doing the following:
- Add build step
- Select runne

[2016-02-08 15:34] cdanne commented on #3
@carlpett: Thanks for the update, sounds great! So we'll keep our current "xUnit + TeamCity" configuration for integrations tests as well and are looking forward to the upcoming versions!

[2016-02-13 17:52] carlpett commented on #7
Hi @gitfool,
Thanks for reporting! Could you check your browser javascript console for error messages? I've seen this happen when something goes wrong in the javascript filtering.

[2016-02-13 19:27] carlpett commented on #7
Ok, I managed to reproduce it. Apparently there is a race condition in where I filter unsupported platform/versions, so that it can try to do so before the dropdown library in use in TeamCity is done initializing.
While I fix it, unless you need to use the x86 platform support introduced in 1.1, you could try the 1.0 release instead?

[2016-02-13 21:59] #5 closed

[2016-02-13 21:59] #7 closed

[2016-02-13 22:08] carlpett commented on #5
@JustinMorgan This is fixed in 1.1. I didn't know GitHub automatically closed issues when mentioned in a commit, and there is still just a prerelease. Sorry about that.

[2016-02-13 22:10] carlpett commented on #7
I made a new prerelease with a fix for this. Hopefully I'll have time to finish regression testing in a larger environment next week so I can release a full version.

[2016-02-18 14:03] yannickameur opened #8 "Transpose to jenkins"
Hello
Do you do it for too Jenkins?
Thanks for your response

[2016-02-18 14:06] carlpett commented on #8
Hi!
I'm not sure if I understand, do you mean if the plugin is compatible with Jenkins? If so, I'm afraid not. They use completely different systems.

[2016-02-18 14:09] yannickameur commented on #8
No, i says fork for create the same plugin into Jenkins.

[2016-02-18 16:37] carlpett commented on #8
I see. Feel free to use it as inspiration :)

[2016-02-18 16:37] #8 closed

[2016-02-18 22:41] makarooney opened #9 "Support for Linux build agents"
I have an ASP.net 5 build running on a RHEL 7.1 agent in TeamCity with Mono installed. However, it appears to be missing the requirement "DotNetFramework4.0_x86". Are there any plans to make this plugin available for Linux agents running Mono?

[2016-02-19 06:53] carlpett commented on #9
Hi!
I was unsure of the interest in Linux, so I hadn't looked to closely into it, but I'll do some investigation of how complicated it is. It _should_ be easy, I think (famous last words).

[2016-02-24 14:15] roberto-mardeni opened #10 "Assemblies and Collections parallelization"
The documentation in [https://xunit.github.io/docs/running-tests-in-parallel.html#parallelism-in-runners](https://xunit.github.io/docs/running-tests-in-parallel.html#parallelism-in-runners) states that  a "-parallel all" option should be added to execute both assemblies and collections in parallel.

I search for this option in the source code of the plugin to no avail, can you please tell me if th

[2016-02-25 20:15] carlpett commented on #10
Hi!
Thanks for the suggestion. This could definitely be added. I'll add it to the backlog.

[2016-02-27 01:39] roberto-mardeni commented on #10
Excellent, thanks for the prompt response

Roberto Mardeni
Sent from iPhone

[2016-03-09 16:20] apostlethwaite commented on #1
@carlpett Hi, Sorry it's been such a long delay, had vacation for a while.

I'm still seeing the same kind of thing in my output:

[code]

with no tests being run.

As last time, if I log on to the agent and run:

[code]

It runs the tests as expected.

I've checked the event viewer and there were no crash events reported at the time the job ran.

We've updated to TeamCity 9.1.6 (build 37459) runn

[2016-03-09 16:32] apostlethwaite commented on #1
@carlpett Hi again.

I've downloaded your prerelease1-1, but still having no luck.

My build log just contains:

[code]

Thanks,
alex

[2016-03-09 17:14] carlpett commented on #1
@apostlethwaite Thanks for reporting back! Did you have opportunity to test my suggestion above of creating a test which writes something to disk? That would help determining if it is indeed unable to spawn a process, or just having some issues with output redirection.

If that still gives the same results, I'll spin up another environment and try to get it as close as possible to yours - any cust

[2016-03-13 10:13] carlpett commented on #4
We had a strange regression when I tested this internally, which turned out to be a bug in one of the teams' workflow. So, 1.1 is now released, and fixes this :)

[2016-03-13 10:13] #4 closed

[2016-03-15 15:52] evilB commented on #1
I have the same issue,
I've done as you said and created a test generating a file to see if it's run. The file is created when run manually, however from teamcity the file doesn't get created, suggesting a file selection issue.

I have the issue on two build agents:
1 windows server 2012 r2
1 windows 8.1

[2016-03-15 17:57] carlpett commented on #1
@evilB Could you post a build log? It should output the results of the file selection, among other things. Are you running the 1.1 release, or 1.0?

[2016-03-16 07:49] evilB commented on #1
I'm running the 1.1.0 release.

Build log (doesn't indicate the things you mention, perhaps it is a different log?):
`[16:55:26]Step 4/4: Run xUnit tests (xUnit)`
`[16:55:27][Step 4/4] Runner parameters { Version = 2.0.0, runtime = .NET 4.5, platform = AnyCPU/MSIL}`
`[16:55:27][Step 4/4] Starting test runner at C:\TeamCity\BuildAgent\tools\xunit-runner\bin\2.0.0\xunit.console.exe`

Assembly files

[2016-03-16 10:45] apostlethwaite commented on #1
HI @carlpett .

I built your plugin and have done some experiments.

I was getting no results back from the `findFiles` method

`for(File assembly : finder.findFiles(context.getWorkingDirectory())) {`

If I change my assembly list from `depot1\Test\APITests\bin\x64\Release\APITests.dll` to `depot1/Test/APITests/bin/x64/Release/APITests.dll`
It starts working (i.e. use forward slashes).

It's not o

[2016-03-16 17:51] carlpett commented on #1
@apostlethwaite Thanks, that is some great detective work! Must say I've never thought about it either, I just routinely use forward slashes, but assumed it worked with backslashes as well.
Fixing this, and also adding a warning that no assemblies were matched (which really should have been there from the start)

[2016-03-16 20:07] carlpett commented on #1
@apostlethwaite @evilB I have released version 1.1.1, which both detects and warns about no matching assemblies, as well as converting \ to / so that the pattern matcher will work with both cases.
I hope this will fix your issues! Again, big thanks to @apostlethwaite for finding the cause.

[2016-03-17 08:42] apostlethwaite commented on #1
@carlpett Cheers Calle, I've deployed 1.1.1 and that's working for me.

[2016-03-17 12:30] #1 closed

[2016-03-17 12:59] evilB commented on #1
I can confirm it works for me too. Thank you for the effort!

[2016-03-17 13:08] carlpett commented on #1
Excellent, thank you all for the patience in resolving this!

[2016-04-19 14:42] ftkendrakuhl opened #11 "Doesn't Seem to Work with TC 8.X"
I have TC 8.0.5 installed. I installed this plugin because this is where the plugins page lands me for xunit, but I understand my TC is out of date. After installing the plugin and creating a build step, I get the following error. Is this because the plugin is intended for TC 9 and up or have I mucked up my configuration? If it's because my TC is outdated, is there a solution for TC 8?

`[Step 1/8

[2016-04-19 14:54] carlpett commented on #11
Hi!
Looks like I'm using a utility method from the TeamCity libraries which is not present in older versions. This usage was introduced in the latest version (1.1.1) of the plugin, so maybe you could try the older releases if a TC update is difficult? I haven't had an 8.0 environment to test with for quite a while, so I'm not sure if there are other places in the 1.1 range which don't work. I did

[2016-04-19 17:27] ftkendrakuhl commented on #11
Using 1.1 seems to fix the issue with TC 8. Thanks a bunch!

[2016-04-19 17:27] #11 closed

[2016-04-20 14:56] dcopestake opened #12 "Installed plugin on 9.1.6 but no build runner listed"
I've just installed the plugin on TeamCity 9.1.6. From the logs I can't see any errors/issues, and the plugin is listed under "External plugins", but when I try and add a build step I don't see the xUnit runner?

The only slightly odd thing I've noticed is that version and vendor aren't shown against the plugin in the UI:

![2016-04-20_15-55-46](https://cloud.githubusercontent.com/assets/5802381/1

[2016-04-20 15:09] dcopestake commented on #12
It would appear that for some reason the archive that ended up on the file system was zero bytes! Which would probably explain the problem. It's a bit strange that TeamCity didn't show any sort of error though, oh well!

[2016-04-20 15:09] #12 closed

[2016-07-22 22:10] skyguy94 opened #13 "Plugin requirement of DotNetFramework4.0_x86 fails with TC 10.0 and .Net 4.5 or later"
I'm not sure where to take this. Apparently TC 10.0 fixes a 'bug' where it no longer reports the .Net 4.0 framework 4.0 as installed if 4.5 or later is installed.

Bug here:
https://youtrack.jetbrains.com/issue/TW-44076

My latest agent log here. The older entries in the log show the runtime.
[code]

The change requires any sort of 4.0 path reference to use the targeting pack instead, which is fin

[2016-07-23 09:41] carlpett commented on #13
Hi!
Thanks for reporting! There is an assumption in the plugin code, [here](https://github.com/carlpett/xUnit-TeamCity/blob/e38d4282ee6f97f1ce2a422f0de39aeaefa4b512/xunit-server/src/main/java/se/capeit/dev/xunittestrunner/XUnitTestRunType.java#L85), that all compatible build agents will have .net 4.0, which causes this.
I'll have a dig through JetBrains Javadocs to see if there is some better way

[2016-07-23 11:04] skyguy94 commented on #13
I did come across that code yesterday and I thought that the `.Exists` option might be changed to something like `VER_NO_LESS_THAN`. I was going to give that a try on Monday.

Also, I opened a bug with TC as I believe they still should be reporting the runtime for tooling support while using the targeting pack for building/compiling.  https://youtrack.jetbrains.com/issue/TW-46352

[2016-07-24 08:10] carlpett commented on #13
The problem is that all the requirements act on a single agent property (such as `DotNetFramework4.6_x64`), and all there is no property which contains "highest .net framework version installed", instead there are many properties which exist if the corresponding version is installed. So I don't think the `VER_NO_LESS_THAN` route will work, sadly.
I'm installing TC10 on my test server now so that I

[2016-07-24 09:51] #13 closed

[2016-07-24 09:53] carlpett commented on #13
Turns out there is a syntax for using regex in the requirements. I've updated to use that instead, and it looks good on my machine (TC 10.0 and 9.1.6). It is included in [release 1.1.2](https://github.com/carlpett/xUnit-TeamCity/releases/tag/1.1.2)

[2016-07-24 12:25] skyguy94 commented on #13
Outstanding. I'll push it out to our agent pool and give it a go.

[2016-07-24 14:57] skyguy94 commented on #13
👍 Works on our agents. ty!

[2016-07-25 13:56] ghost commented on #13
Hi, All!
As for change in TeamCity ,net runtime reporting, The idea is the following. As all .NET 4.x updates are in-place so after you install .NET 4.6 on top of .NET 4.0 you don't actually have 4.0 runtime anymore. But Targeting Pack still exist. So starting from 10.0 TeamCity reports this case properly in my point of view.
As for provided fix in xUnit runner, I left [my comment](https://github.

[2016-08-02 13:26] taliesins opened #14 "Cancelling build does not cancel tests"
We have setup Specflow to run Webdriver using Xunit. We have noticed that if you stop a build in TeamCity it does not close xunit.console.exe.

This leaves test running in the background. I was expecting the process to be terminated, if the job is stopped in TeamCity.

[2016-08-02 20:05] carlpett commented on #14
Thanks for reporting! I will have a look - my assumption was that this was handled by the base class from the TeamCity API I extended, but I may have misread the documentation.

[2016-08-03 15:14] ekoshkin opened #15 "java.lang.NullPointerException when getting runner requirements"
full trace is
Trace: java.lang.NullPointerException
          at se.capeit.dev.xunittestrunner.XUnitTestRunType.getRunnerSpecificRequirements(XUnitTestRunType.java:86)
          at jetbrains.buildServer.serverSide.impl.runType.RunTypeWithExtensionsImpl.getRunnerSpecificRequirements(RunTypeWithExtensionsImpl.java:27)
          at jetbrains.buildServer.serverSide.impl.SBuildRunnerDescriptorImpl.getR

[2016-08-03 15:14] ghost commented on #15
Looks like result of #13 fix

[2016-08-03 16:57] carlpett commented on #15
Thanks for reporting!
Yes, probably that is the cause. Did you upgrade from a previous version of the plugin, or is this a first install? What are the settings of the build step that crashes?

[2016-08-04 05:27] jjmatthews commented on #15
Hi, the plugin was upgraded to the latest version from 1.0 to 1.1.2. The exception occurs when clicking on the agent requirement link.

[2016-08-06 19:38] carlpett commented on #15
@jjmatthews and @ekoshkin : I made a fix for build steps defined in 1.0. Those lack certain parameters due to them not being configurable at the time, but since I only shipped specific varieties of the test runner (MSIL/v4.0 and MSIL/v4.5 respectively) it is possible to determine what they should be.
Also added a better error management, so any similar issues will not crash, but display a message

[2016-08-06 19:39] carlpett commented on #14
@taliesins I've made a fix for this now, available in version 1.1.3. Could you give it a try?

[2016-08-08 15:38] taliesins commented on #14
I clicked stop in TeamCity. The xUnit runner was killed, but child processes stayed alive. I was hoping it would also kill all child processes.

So in the specflow scenario I landed up with 1 chromedriver.exe and 4 chrome.exe instances. I have hooked into the app domain unload event as well as creating a critical finalizer in the hope I can kill off the processes, but they stayed alive.

[2016-08-08 16:00] carlpett commented on #14
@taliesins Hm, that turns out to be a bit tricky, it seems... Java does not support signalling or killing child processes, as far as I can see, due to it being hard to do in a cross platform manner. There are a few posts with hacks involving WMI around the net, but nothing that seems particularly robust (in your case we probably have multiple levels of subprocesses, for instance).
I'm a bit surpri

[2016-08-08 19:08] taliesins commented on #14
Can you send ctrl+c twice sleep a bit then call process.destroy() as this would allow xunit to cancel itself gracefully and allow me to hook into subdomain unload.

[2016-08-08 19:12] taliesins commented on #14
https://github.com/xunit/xunit/blob/master/src/xunit.console/Program.cs

Send ctrl + c, sleep, send ctrl + c, sleep, process.destroy()

[2016-08-08 21:12] carlpett commented on #14
Yes, part of the problem is that `ctrl+c` isn't really a character that can be sent to an input stream, it is a keystroke which is interpreted by the shell when you are running it interactively.

From what I've gathered, I'll need to get into JNA and send a Windows message to the application. I'm looking into exactly what I need to do for that (I'm don't do any Java development outside of this plu

[2016-08-08 22:16] taliesins commented on #14
I think I may have an easy solution for you.

http://www.latenighthacking.com/projects/2003/sendSignal/
https://github.com/walware/statet/tree/master/de.walware.statet.r.console.core/win32

So pass the process id to sendsignal.exe and it will send ctrl+c to the process.

[2016-08-09 05:58] PolarbearDK commented on #15
I can confirm that the 1.1.3 fixes the problem.

[2016-08-09 06:04] carlpett commented on #15
@PolarbearDK Thanks!

[2016-08-09 06:04] #15 closed

[2016-08-09 19:30] carlpett commented on #14
@taliesins First, thanks for taking an active part in resolving this :)

I looked into sendsignal a bit, and I think there might be a few issues with that approach sadly. The Java `Process` class' many shortcomings include not exposing the PID. That could of course be solved by enumerating all processes and looking for the test runner. However, quite a few deployments of TeamCity (including some o

[2016-10-27 20:22] carlpett opened #19 "Public CI server and automatic builds"
Currently the plugin is built on a private TeamCity installation, along with some "integration tests" (term used very loosely... ). It should use some public installation and trigger on PRs, as well as having the tests in this repo.

[2017-03-09 15:18] cdanne commented on #3
@carlpett Just to keep you motivated working on this plugin: We are still really looking forward to support for traits ;)
Has there been any progress lately? Any release plans for version 1.2?

[2017-03-09 15:31] carlpett commented on #3
@cdanne I've been stalling a bit both due to high workload, but I see that xUnit 2.2 has just shipped as well, so a update of the plugin is really in order. I'll see what I can do over the coming few days!
Seeing that it is almost a year since I flagged this for 1.2, it's about time to get it done, I think ;)

[2017-03-09 17:12] cdanne commented on #3
@carlpett Thanks for the quick response! I'm glad to hear you're still planning to integrate that feature and I am really looking forward to it!

[2017-03-31 02:36] aaron-0 opened #21 "Muted tests still causing build to fail"
I have a unit test that is failing that we have muted.

Even though the unit test is muted the build is still being counted as failed as the xunit build step has in the log:
Test runner exited with non-zero status!

I thought unit test runners were supposed to return 0 even when unit tests fail and then it is build failure conditions(e.g at least one test failed) that come through and mark the sta

[2017-03-31 07:52] carlpett commented on #21
@aaron-0 Thanks for reporting! I _think_ this will be solved by #20 - it turns out that xUnit's return code (pre v2.2) was actually the number of failed tests, not whether the program worked or not. So this would be misinterpreted by TeamCity.
I haven't received any feedback from the original PR author for almost three weeks, so I will go ahead and merge this.

[2017-04-06 21:18] aaron-0 commented on #21
Cool, when are you planning on releasing that version?

[2017-04-07 05:35] carlpett commented on #21
This code is included in the [prerelease](https://github.com/carlpett/xUnit-TeamCity/releases/tag/v1.2.0-alpha1) I uploaded recently, so you may want to try that and see if it works for you.
I still have one bug fix and one feature planned for this release, but I'm currently awaiting a response from Jetbrains regarding their API, so I'm not sure exactly when it will be done. Hopefully most of the

[2017-04-07 05:47] aaron-0 commented on #21
Awesome thanks

[2017-04-07 10:33] rogerjak opened #22 "runner missing from zip"
Hi, downloaded the 1.2.0-alpha and the xunit 2.2 test runner is missing from the zip

[2017-04-08 09:44] carlpett commented on #22
@rogerjak Thanks for reporting! I will look at this during the weekend. Sorry about the broken build!

[2017-04-09 16:29] carlpett commented on #22
I've been debugging the CI build for a while, but I can't figure out why it won't add the 2.2 runner. It does it when building locally.

I've uploaded a locally built version instead, which should work. Please let me know if it works for you!

[2017-04-13 20:38] minoseah629 opened #23 "Teamcity Version 10.0.1 and version 1.1.3a"
Hello,
I have TeamCity Version 10.0.1 with xunit teamcity plugin version 1.1.3a.

I uploaded the plugin a month plus ago, but I guess the server never restarted to update the plugin.

But now after some random maintenance reboot, Teamcity plugin 1.1.3a started being used.

But when the build is occurring, the step for the unit tests execution throws an error.

[16:10:15]E: Step 7/9: Tests (xUnit)

[2017-04-14 06:04] carlpett commented on #23
Hi!
Version 1.1.3a was built of a fork of this project, and included some code which did not account for some fields being uninitialized if created with previous versions. I have since merged that fork, including a fix for your issue, but this is yet unreleased. I'm hoping to release a version 1.2 "soonish", but if you did not need any of the features from the fork (namely xUnit 2.2 support or par

[2017-04-14 06:04] #23 closed

[2017-04-14 06:05] #22 closed

[2017-04-17 16:13] sdepouw opened #24 "Support for xUnit 2.2.0?"
Just installed the latest version of the plugin, and within TeamCity it is only allowing me to select 2.1.0, 2.0.0, and 1.9.2. My xUnit install in my project is 2.2.0, however (as a .NET Core App, a project created via the "dotnet" CLI). When TeamCity runs against the DLL, I am getting "System.InvalidOperationException: Unknown test framework: could not find xunit.dll (v1) or xunit.execution.*.dll

[2017-04-17 18:37] carlpett commented on #24
Hi!
What version of the plugin are you using? There is pre-release support for xUnit 2.2 in plugin version 1.2, which you can test out if you'd like. I haven't had time to do testing on .net core, however, so it is possible there are some issues there.

I hope to be able to do a proper 1.2 release soon, but there is an issue related to how I originally implemented against the TeamCity API which re

[2017-04-17 18:56] sdepouw commented on #24
We used whatever latest one was offered in GitHub (under Releases). But it
turns out that for .net Core the built-in CLI for core, "dotnet test",
works without issue and without need of the additional runner, so we ended
up abandoning usage of the console runner.

Thanks!

On Mon, Apr 17, 2017 at 2:37 PM, Calle Pettersson <notifications@github.com>
wrote:

[2017-04-17 19:39] carlpett commented on #24
Ok, great!

[2017-04-17 19:39] #24 closed

[2017-05-12 14:26] wsain001 opened #25 "Missing 2.2.0 in Runner Parameters"
2.2.0 does not appear in Runner type: xUnit -> Runner Paramterers -> XUnit version.
Only 1.9.2, 2.0.0, and 2.1.0 show up.
![xunit_bug](https://cloud.githubusercontent.com/assets/16338308/26002351/5e3f3e66-36fd-11e7-9faf-059ad05765dc.png)

[2017-05-15 07:16] carlpett commented on #25
Hi,
Thanks for reporting! The readme file and latest (non-prerelease) release are out of sync. I will make a new release shortly which will contain 2.2.0 support!

[2017-05-15 07:35] carlpett commented on #25
Please check out the newly released version 1.2 :)

[2017-05-15 07:35] #25 closed

[2017-05-15 07:36] carlpett commented on #21
A final build of 1.2 has now been released!

[2017-05-15 07:36] #21 closed

[2017-05-15 07:37] carlpett commented on #3
This is partially supported with the ability to send commandline parameters to xUnit in the new version 1.2 of the plugin. I would like to support it with a better interaction though, so I'm not closing this just yet. I hope to make this better with the next release, 1.3.

[2017-05-16 10:44] cdanne commented on #3
Thanks for the update and the new feature! We'll give the command line parameters a try then.

[2017-05-17 00:42] aaron-0 commented on #21
works great thanks

[2017-06-02 14:23] bastianeicher commented on #9
+1 for interest in Linux/Mono support

[2017-07-20 05:41] oliverjanik opened #26 "Add build step -> xUnit -> no parameters show up"
![image](https://user-images.githubusercontent.com/2280140/28402104-5f49d420-6d61-11e7-9968-88787ee000fb.png)

I can see a 500 in the Chrome dev tools. Here's a stacktrace from the response:
[code]

[2017-07-20 19:32] carlpett commented on #26
Hi @oliverjanik,
Thanks for reporting! This seems like an odd error, since it is complaining about not finding the classes for the plugin, but apparently finding enough of them to know to show the entry in the dropdown... Could you share what version of Teamcity and the plugin you are using? Also, is this a fresh install of the plugin, or did you upgrade from a previous version?

[2017-07-21 04:13] oliverjanik commented on #26
TeamCity Enterprise 2017.1.2 (build 46812)

![image](https://user-images.githubusercontent.com/2280140/28448846-a1359974-6e1e-11e7-8175-e8e48f03c404.png)

This is a fresh installation. And I tried it several times with different versions of your plugin including a fork from someone else.

Any logs I can give you or anything else?

[2017-07-22 07:05] carlpett commented on #26
Odd. Our servers are at 2017.1.1, so shouldn't be a major difference... I'll upgrade and see if it makes a difference.
Could you check if this directory exists in your TeamCity installation directory, and what its contents are? `webapps\ROOT\plugins\xunit`

[2017-07-22 07:50] carlpett commented on #26
I upgraded a server to the same version as you are running, and still don't see the same issue. Very strange. Will be interesting to hear back regarding the contents of that directory!

[2017-07-24 06:29] oliverjanik commented on #26
Here you go:
[code]

Also thanks for your time!

[xunit-issue-26.zip](https://github.com/carlpett/xUnit-TeamCity/files/1168963/xunit-issue-26.zip)

[2017-07-25 11:03] carlpett commented on #26
@oliverjanik Thank you. I'm unable to reproduce this, sadly :( One thing I notice now is that you uploaded the plugin with the name "xUnit (1).zip" (probably duplicate downloads?), it _could_ be that this is a bug in Teamcity that somehow causes the path resolution to fail? Can you try to remove the plugin and upload it again with a name without the parenthesis?

[2017-07-26 00:41] oliverjanik commented on #26
Yeah the first one did not have that, I'll try again. I'll look for teamcity logs ans see if there's anything more. I wonder if this would be some obscure Linux/JVM combo or something. The dotnet plugin works fine I think that would be similar to xunit plugin. I'll report back if I find the cause.

[2017-08-01 08:05] lvthillo opened #27 "No assemblies were matched - no tests will be run!"
We are using TeamCity 2017.1.3 (build 46961).
We use xUnit plugin 1.1.2

[code]

Our build configuration:
- MSBuild to build app
- MSBuild to build tests: This creates some \bin\Debug in our work folder and it contains our xxx.Tests.dll
- Use xUnit to execute the tests. Runner Type xUnit, XUnit version: 2.1.0. Path to our .dll. I even tried to define the path hardcoded. I put some CMD job before t

[2017-08-01 08:15] carlpett commented on #27
Hi,
Sorry to hear that! Could you share your folder structure and the value of the "Assemblies containing tests" parameter?

[2017-08-01 08:23] lvthillo commented on #27
@carlpett Thank you for the quick reply.
This is the input of our 'Assemblies containing tests:' parameter
`%system.teamcity.build.checkoutDir%\src\app.Test\bin\Debug\name.Web.Test.dll`

The environment variable exists. We're using it in other buildsteps too and we're able to '`cd`' to that specific folder.

I don't really know what you mean with the folder structure. But I can tell you the follow

[2017-08-01 08:34] carlpett commented on #27
Hm, it looks like I might not be expanding variables in that parameter, which would explain it. However, the search is done relative to the current working directory, which is probably identical to `%system.teamcity.build.checkoutDir%`, could just try to just remove that and specify `src\app.Test\bin\Debug\name.Web.Test.dll` instead?

[2017-08-01 08:46] lvthillo commented on #27
@carlpett Okay, that was the issue. My apologizes! Thank you very much.

[2017-08-01 08:46] #27 closed

[2017-08-01 08:51] carlpett commented on #27
No, it _should_ work, but apparently it does not. Great that the workaround works for you, though!
I'll fix the parameter expansion as soon as possible.

[2017-08-01 08:52] carlpett opened #28 "Teamcity variables are not expanded in assembly list"
As found in #27, Teamcity variables (`%foo%`) are not expanded in the assembly lists, and thus no assemblies are found.
Workaround is to use relative paths without variables.

[2017-08-30 14:52] Dev123213 opened #29 "Does this support team city and net core?"
I have a class library:
- Target Framework net core 2
- Output type class library

Csproj:

[code]

nugets:
`Microsoft.NET.Test.Sdk, xunit, xunit.runner.console, microsoft.netcore.app`

Team city build config:
1. net core restore
2. net core publish
   - output dir: %system.teamcity.build.checkoutDir%/Tests
   - framework: netcoreapp2.0
3. xunit:
   - version 2.2.0
   - AnyCPU/MSIL
   - .NET 4.5 (

[2017-08-30 14:59] Dev123213 commented on #29
Further, I tried executing the exe manually and I get the following:

[code]

Adding this to my project didn't seem to fix anything (there isn't even a v4.2.0.0 so I did 4.3.0)

[2017-08-30 15:31] Dev123213 commented on #29
I have finally found that TeamCity.VSTest.TestAdapter will give me a more detailed error:

[code]
(note, 2 steps are disabled which is why you may noticed step 6/6) but I only mentioned 4 steps.

[2017-08-30 16:31] carlpett commented on #29
Hi @Dev123213,
Sorry that it is not working for you. I think there are multiple problems here, so let's go through them.

In the first post, you get the error "No assemblies were matched - no tests will be run!". This is because you are specifying an absolute path, which as discovered in #27 is not supported yet. Until I've had time to fix that, I would recommend changing to a relative path, ie `T

[2017-08-31 07:56] Dev123213 commented on #29
Hi Carl, thanks for getting back to me promptly. I have fixed the path, and am using the most recent plugin version advertised here  (1.2) https://github.com/carlpett/xUnit-TeamCity/releases/tag/v1.2.0.

To clarify your last paragraph, xunit does support .net core (https://xunit.github.io/docs/getting-started-dotnet-core.html), but the plugin for team city does not? If so, I will have to abandon x

[2017-08-31 08:44] carlpett commented on #29
Ok, that is good to know. I'll see if I can recreate it. The line numbers in the stack trace don't seem to match the code, though, which is confusing....

xUnit supports .net core in their beta releases, yes, but there is no supported version with a finalized way of running it yet (it has changed between different beta versions, as I understand it). So I'm a bit wary of integrating it before that

[2017-10-04 20:39] s3rius2 opened #30 "'Test Failure' reported as 'Success' in TeamCity when message contains Unicode ’ char (RIGHT SINGLE QUOTATION MARK)"
Using xUnit 2.2 and TeamCity 10.0.4 on Windows.

Reproduction

Please see the reproduction repo. It contains one test.

Point TeamCity at the repo
Add a 'Nuget Restore step' in the beginning
Add an off-the-shelf xUnit runner step with '**/*.Tests.dll'
Observe:
Despite the runner exits with non-zero code (thus correctly failing the build), the TeamCity report shows the test itself as successful.
An

[2017-10-07 19:42] carlpett commented on #30
@s3rius2 Thank you for noticing and a very good analysis! And also a repro!
I must say I'm not sure exactly where this happens, though. The output is basically passed straight through to TeamCity's internals:
https://github.com/carlpett/xUnit-TeamCity/blob/26fd13e3764a7fa37e9d9e39123120fb8cce6c83/xunit-agent/src/main/java/se/capeit/dev/xunittestrunner/XUnitBuildProcess.java#L179-L188

I would have

[2017-11-06 14:12] jesuissur opened #31 "Update .Net Framework requirements to support framework 4.7"
Hi there

We've installed the latest EAP (2017.2) and the plugin stopped working because it depends on a framework that is installed on the agent but does not exists as agent configuration.

It would be nice to update the requirement as the first one in the image

![image](https://user-images.githubusercontent.com/136296/32445019-7a38083a-c2d2-11e7-9a98-55b1960d3596.png)

[2017-11-13 07:03] carlpett commented on #31
Hi,
Thanks for the report, and sorry for the slow response. I'll fix this, good catch!

[2017-11-13 07:11] carlpett commented on #31
When looking a bit closer, it wasn't exactly as simple as I had thought (the requirement is set dynamically depending on the selected runtime for xUnit). What frameworks does your agent report that is has? I

[2017-11-13 13:32] jesuissur commented on #31
Hi

I've made the following change locally and it works on my case.  Not sure it is the best practice on the code base so I did not made a pull request

xunit-server\src\main\java\se\capeit\dev\xunittestrunner\XUnitTestRunType.java
before:
`
        else if (runtime.equals(Runtime.dotNET45)) {
            frameworkMatcher = "4.[56](\\.[0-9]+)?"; // Match 4.5+
        }
`
after:
`
        else if (

[2017-11-13 13:37] carlpett commented on #31
Hi,
That looks like the exact right change, so a PR for that would be great!
Apparently my agents are a bit outdated, I'll need to have a look at that. Thanks for the image!

[2017-11-13 18:01] jesuissur commented on #31
Pull Request https://github.com/carlpett/xUnit-TeamCity/pull/32

[2017-11-14 07:17] carlpett commented on #31
Thanks a lot! I've merged it, will make a new release in a bit.

[2017-11-14 07:17] #31 closed

[2017-11-14 20:44] carlpett commented on #19
Closed by #33

[2017-11-14 20:44] #19 closed

[2017-11-20 23:26] hboisselle commented on #30
I opened a pull request in XUnit to fix this https://github.com/xunit/xunit/pull/1578. The plugin will have to support XUnit 2.3.X eventually though.

[2017-12-13 14:00] RichardSinden opened #34 "Release 1.2.1 is not available in the TeamCity plugins area"
Hi,

Thanks for updating the plugin to support .NET 4.7, but the version available at https://plugins.jetbrains.com/plugin/8909-xunit-test-runner is still 1.2.0 and it took me a while to realise there was 1.2.1 release available on here. I'm all good now, but it'd be worth updating it to save other people time.

Thanks,
Richard

[2017-12-14 09:20] carlpett commented on #34
Whoops! Thanks for noticing! I have updated it now.

[2017-12-14 09:20] #34 closed

[2018-01-26 20:46] acadieman opened #35 "Agent requirements not met - no compatible agents"
Hi,

We have a client having an issue when enabling their "xUnit Units Test" build step.
When they turn on the step, they have 0 compatible agents because of the following requirement which is not met:  Exists=>DotNetFramework4.[56](\.[0-9]+)?_(x86|x64)

When looking at any of our agents under "configuration parameters", the parameters jump from 3.5 to 4.7 even though 4.5 and 4.6 are installed on

[2018-01-27 09:12] carlpett commented on #35
Hi @acadieman,
This should be fixed in 1.2.1, thanks to #32. Could you give that a try?

[2018-05-08 07:26] oliverjanik commented on #26
Hi I updated to new version of this plugin few moments ago and this is what I see:

![image](https://user-images.githubusercontent.com/2280140/39743572-a5c7b124-52e4-11e8-85e4-05d7c3d75a58.png)

I'm obviously missing some UI because this is in network tab:

![image](https://user-images.githubusercontent.com/2280140/39743600-bd82ef04-52e4-11e8-8655-4e3782ea4c6b.png)

[2018-08-01 08:53] aixasz opened #36 "Output message in each project nested to deep hierarchy"
We found something a bit weird in output message, it nests each test project causing a super deep hierarchy.

![image](https://user-images.githubusercontent.com/2430853/43511563-e7e48036-95a2-11e8-8b40-26b3b20b702a.png)

[2018-08-01 13:28] carlpett commented on #36
Hi @aixasz,
It is not fully clear from the screenshot, so just to verify: These are all different, unrelated assemblies being tested, and somehow nested under each other?

[2018-08-02 04:12] aixasz commented on #36
The problem is in solution contained many test projects, and when xunit teamcity started in build step, it's ran in each project and after finish for a project, it doesn't exit block module of output message,  and this will append new block module for next testing project under current project tested.

So after this build step finish the output message show the deep hierarchy.

[2018-08-02 06:50] carlpett commented on #36
Ah, right. This is caused by the parallel test runs merged in #20. I'm not sure if there is a nice way to avoid this without either buffering the test output (ie, you will not see the output from the test run until the entire assembly has finished), or running in serial instead.
I'll have to have a look at the TeamCity logging API and see if there's an alternative.

[2018-08-08 13:53] gmanvel opened #37 "xUnit console runner fails to execute some (random) tests on Team City"
I can't reproduce this if I run tests via Visual Studio 2017 (xunit.runner.visualstudio version="2.1.0").
Issue only appears on Team City, randomly failing on different tests within a test dll.

I tried to execute following command on the Team City itself

It keeps failing with the following error message:

`System.Runtime.Serialization.SerializationException: Unable to find assembly 'Microsoft.Wi

[2018-08-08 15:31] carlpett commented on #37
Hey @gmanvel,
Sorry to hear that. Does "randomly failing" mean that the entire test assembly sometimes pass, or that it is random which test is the first to fail?
Assembly loading issues are typically quite hard to debug remotely, but here are some things to check:
Could you open `SharedServices.Tests.dll` with dotPeek for example and have a look at exactly how this references the Azure assembly?

[2018-08-08 18:27] gmanvel commented on #37
Thank you for prompt reply @carlpett & I appreciate your help on this.
By "randomly fails" I mean it is random which test is the first to fail. Not all tests fail, quite the opposite, a lot of them pass and then randomly it fails on some test and stops execution.
There is `SharedServices.Tests.dll.config`, attaching file here
[SharedServices.dll.zip](https://github.com/carlpett/xUnit-TeamCity/file

[2018-08-27 14:49] dreschner opened #38 "Support for xUnit 2.4.0"
Hey,

we have some issues with the xUnit versions < 2.4.0. Some important bugfixes are included there.

So, is it possible to get support for xUnit 2.4.0?

Thank you!

Best reguards,
David

[2018-09-16 12:09] pawlos opened #39 "Platform parameter gets reset to default value when editing the step"
The plugin works fine with one exception that I've observed.

Whenever I set the platform parameter to be `x86` and then edit the step the value is being reset to `AnyCPU/MSIL`. But when I check the HTML for this dropdown the `selected` attribute is set correctly on `x86`.

Haven't observed anything like that on any other plugins but not sure if this is only xUnit-TeamCity plugin related.

TC vers

[2018-10-31 16:18] tomaszprasolek commented on #39
I also have that problem.

TeamCity: 2018.1.2 (build 58537)
xUnit Plugin: 1.2.1-3-g59671cf

[2018-11-01 10:44] ivan-kadyko opened #40 "can't select higher than 4.5 version of .NET Runtime"
Hello. We use xUnit TeamCity plugin (version = 2.2.0) and our build agents use 4.7.1 .net runtime. We can't use this plugin with this environment, only 4.5 .net runtime

![xunitbuildstep](https://user-images.githubusercontent.com/11837344/47847426-3cf47f00-dddc-11e8-9d28-5f8529061bfb.png)

[2018-11-02 07:47] tomaszprasolek commented on #39
In TeamCity 2018.1.3 still is that bug.

[2018-11-02 09:00] pawlos commented on #39
I think the problem is in the plugin. I've tried looking at this issue for some time but didn't see anything obvious there.

[2018-11-02 12:55] #40 closed

[2018-11-02 13:11] carlpett commented on #40
Hi @ivan-kadyko,
Sorry for the lack of activity here. Did you close the issue because your problem is solved?

[2018-11-02 13:13] carlpett commented on #39
Hey,
Sorry for the lack of activity here. I don't have an environment to test in at the moment, but I'll see if I can set one up.
Do any of you know if this stopped working in new versions of TC? I do think it _used_ to work, but it is quite possible there have been breaking changes in TC since then.

[2018-11-02 13:52] carlpett commented on #38
Sorry for the lack of activity here. It should be quite straightforward, I'll try to get it done during the weekend.

[2018-11-02 14:53] carlpett commented on #39
Found the problem now, looks like some of the javascript in the plugin doesn't work any more.

[2018-11-04 16:25] DerDreschner commented on #38
That would be really great! Thank you very much in advance!

[2018-11-04 16:26] DerDreschner commented on #30
This pull request from @hboisselle was merged and released with the xUnit 2.4.0 release.

[2018-11-08 12:22] pawlos commented on #39
@carlpett thanks for the fix. Will there be any release soon or can I somehow download the package with the fix from CircleCI?

[2018-11-08 14:24] carlpett commented on #39
I was hoping to get a fix for #38 in too in the next release, but if I don't find time before the end of the week to fix that I'll just release this.
Sounds good?

[2018-11-08 15:12] pawlos commented on #39
Yup. Perfect!

[2018-11-12 13:33] carlpett commented on #35
Assuming this is fixed. Let me know if it doesn't work!

[2018-11-12 13:33] #35 closed

[2018-11-13 09:55] carlpett commented on #38
Opened a PR (#43), but lacking the time right now to do proper testing. Would you be able to do a test run? The PR build is here: https://18-37407807-gh.circle-artifacts.com/0/root/project/target/xUnit.zip

[2018-11-13 13:43] DerDreschner commented on #38
Thank you very much for your efforts! We've tested the PR build with teamcity 2018.1.3 and everything looks good with xUnit 2.4.1! 👍 Thank you very much!!

[2018-11-14 20:15] #38 closed

[2018-11-15 08:51] tomaszprasolek commented on #39
I've updated the plugin. It works. Thanks.

[2018-11-15 19:00] iamwilliamkwok opened #44 "Version 1.3.0, but in teamcity-plugin.xml, version is 1.1.0"
The version number in the teamcity-plugin.xml in the xUnit.zip 1.3.0 file appears to be incorrect.  The xml file contains <version>1.1.0</version>, but the version of xUnit TeamCity plugin is 1.3.0.

[2018-11-15 20:18] carlpett commented on #44
Hi @hikwoky,
Thanks, there was a missing step when I upgraded the CI. I just published 1.3.1, which should be correct.

[2020-03-25 11:46] osya commented on #40
I have the same issue. How you solved it?

[2020-03-25 11:57] osya commented on #27
I have the same issue:
[code]

[2021-02-04 23:41] yoyos opened #45 "aspnet 5.0"
Hi,

I can't select something else than .NET4.5 in xunit config on teamcity. It makes my teamcity_agent not recognizing the project.
Do you have any idea where I can get something supported with aspnet5 please ?

[2021-02-05 07:39] carlpett commented on #45
Hi,
I haven't actually used this plugin myself for many years, mainly fixing the odd bug. If you'd be up to implement support for newer versions of xUnit/dotnet, I could review the PR, but I do not have time to add it myself, I'm afraid.

[2022-03-07 21:12] smittyvt commented on #28
Any chance this will get fixed? It's causing me issues at the moment. Thanks.

[2022-03-08 07:34] #44 closed

[2022-03-08 07:37] carlpett commented on #28
Hi @smittyvt,
I personally haven't been using either TeamCity or .NET for many years by now, and additionally have quite limited spare time to spend, unfortunately. I could review a pull request if you would like to try your hand at fixing it, however!